* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color: #0099cc;
    color: #ffffff;
    padding: 15px;
    text-align: center;
  }


  .menu ul {
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    font-family: 'Work Sans', sans-serif;
    font-size: px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
  
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  
  .aside {
    opacity: 0%;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  button {
    width: 130px;
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: center;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
  
  /* Just for presentation */  
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  button:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
  }
  button.back {
    text-align: right;
    padding-right: 12px;
    box-sizing: border-box;
  }
  button.back:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-right: 16px solid transparent;
    border-left: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6; 
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;    
    width: 50%;
  }
  
ul {
  list-style-type: none;
}
  body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
  .footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  .hide {
    display: none;
  }

 
  